<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li>
                <a href="/Admin/DaiLy">
                    <i class="fa fa-th"></i> <span>Đại lý</span>
                </a>
            </li>
            <li>
                <a href="/Admin/CongNo/">
                    <i class="fa fa-th"></i> <span>Công nợ</span>
                </a>
            </li>
            <li>
                <a href="/Admin/GiaiThuong/">
                    <i class="fa fa-th"></i> <span>Giải Thưởng</span>
                </a>
            </li>
            <li>
                <a href="/Admin/GiaVeSo/">
                    <i class="fa fa-th"></i> <span>Giá vé số</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>